.body-forum {
    width: 100%;
    margin-top: 30px;
    background-color: #eee;
    height: auto;
}

.container {
    width: 55%;
    padding-top: 30px;
    padding-bottom: 30px;
}

.createPost {
    width: 100%;
    background-color: #fff;
    border-radius: 15px;
}

.post-container {
    margin-top: 40px;
}

.form {
    margin: auto;
    padding: 10px;
    width: 95%;
    margin-bottom: 40px;
}

hr {
    margin: auto;
    margin-top: 10px;
    width: 90%;
}

.bottom-form {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: right;
}

.item-bottom-form {
    margin-left: 25px;
    margin-top: 10px;
}

.item-bottom-form img {
    background-image: none;
    height: 30px;
    width: 30px;
    margin-right: 5px;
}

/*Post*/

.post {
    width: 100%;
    background-color: #eee;
    margin-top: 20px;
}

.form-post {
    background-color: #fff;
    margin: auto;
    padding: 10px;
    margin-bottom: 40px;
    border-radius: 15px;
}

#filter-post-form {
    display: flex;
    justify-content: flex-end;
}

.select-box {
    flex: 0 0 20%;
    margin-right: 16px;
}

.form-info img {
    margin-right: 5px;
}

.form-info {
    display: flex;
}

.form-mid-top {
    display: flex;
}

.form-left {
    width: 5%;
}

.form-mid {
    width: 90%;
}

.form-mid-top {
    height: 30px;
    margin-top: 5px;
    color: #656c6a;
}

.form-mid-top-subject {
    background-color: #fd7070;
    padding: 2px 15px;
    text-align: center;
    border-radius: 10px;
    color: white;
    margin-left: 10px;
    margin-bottom: 1px;
}

.form-mid-top-type {
    background-color: #707efd;
    padding: 2px 15px;
    text-align: center;
    border-radius: 10px;
    color: white;
    margin-left: 10px;
    margin-bottom: 1px;
}

.form-mid-content img {
    height: auto;
    width: 80%;
}

.form-right {
    width: 5%;
}

.form-right img {
    width: 35px;
    height: 35px;
}

.form-like {
    display: flex;
    align-items: center;
    margin-left: 30px;
}

.form-like img {
    width: 30px;
    height: 30px;
}

.form-like p {
    display: block;
    padding-top: 15px;
    margin-right: 15px;
    margin-left: 2px;
}

.form-comment {
    display: flex;
}

.form-comment-left {
    width: 5%;
}

.form-comment-midle {
    display: flex;
    width: 85%;
}

.form-comment-right {
    display: flex;
    width: 10%;
}

.form-comment-right img {
    width: 35px;
    height: 35px;
}

.comment {
    display: flex;
    margin-top: 10px;
}

.comment-left {
    width: 5%;
}

.comment-right {
    width: 95%;
    font-size: 13px;
    color: #656c6a;
    margin-top: 7px;
}

.comment-right p {
    color: black;
    font-size: 24px;
    margin: 0px;
}

.comment-right img {
    height: auto;
    width: 80%;
}

.comment-action-edit-delete {
    display: flex;
    color: #656c6a;
    font-size: 13px;
    margin-left: 30px;
}

.comment-action-edit-delete p {
    margin: 0px;
    margin-left: 10px;
}
